.hare{
    width: 1255px;
    height: 594px;
    background-image: url(image/hare.JPG);
    margin: auto;
}

.SNS{
    width: 450px;
    margin-right: auto;
    margin-left: auto;
}

.body{
    background-color: antiquewhite;
}

.Tweet{
    width: 47.5%;
    margin-top: 30px;
    float: left;
}

.syakuhati{
    margin-right: 30px;
    margin-top: 30px;
    float: right;
}

.Instagram_left{
    margin-top: 10px;
    width: 50%;
    float: left;
}

.Instagram_right{
    margin-top: 10px;
    width: 50%;
    float: right;
}